<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <!--<appSettings>
    <add key="access" value="database/data.mdb"/>
    <add key="access2007" value="database/data.accdb"/>
    <add key="sqlite" value="database/data.db"/>
    <add key="mysql" value="server=localhost;user id=用户名;password=密码;database=数据库"/>
    <add key="mssql" value="server=(local);uid=用户名;pwd=密码;database=数据库"/>
    <add key="oracle" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=服务名)));User Id=用户名;Password=密码;"/>
    <add name="db2" connectionString="Server=localhost;Database=数据库;UID=用户名;PWD=密码;" />
  </appSettings>-->
  <connectionStrings>
    <add name="access" connectionString="database/data.mdb" providerName="System.Data.OleDb"/>
    <add name="access2007" connectionString="database/data.accdb" providerName="System.Data.OleDb"/>
    <add name="sqlite" connectionString="database/data.db" providerName="System.Data.SQLite"/>
    <add name="mysql" connectionString="server=localhost;user id=用户名;password=密码;database=数据库" providerName="System.Data.MySqlClient"/>
    <add name="mssql" connectionString="server=(local);uid=用户名;pwd=密码;database=数据库" providerName="System.Data.SqlClient"/>
    <add name="oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=服务名)));User Id=用户名;Password=密码;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="db2" connectionString="Server=localhost;Database=数据库;UID=用户名;PWD=密码;" providerName="IBM.Data.DB2"/>
  </connectionStrings>
</configuration>
