<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="access" value="database/data.mdb"/>
    <add key="access2007" value="database/data.accdb" />
    <add key="sqlite" value="database/data.db"/>
    <add key="mysql" value="server=localhost;user id=root;password=root;database=xm_custom"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="access" connectionString="database/data.mdb" providerName="System.Data.OleDb" />
    <add name="access2007" connectionString="database/data.accdb" providerName="System.Data.OleDb" />
    <add name="sqlite" connectionString="database/data.db" providerName="System.Data.SQLite" />
    <add name="mysql" connectionString="server=localhost;user id=root;password=root;database=xm_custom" providerName="System.Data.MySqlClient" />
  </connectionStrings>-->
</configuration>